@media (min-width: 1152px) {
    .nav-home-skewed>li:last-child {
        padding: 0 30px 0 0;
    }
    .banner-hm {
        background-position-x: 435px;
    }
    .branding-home {
        height: 420px;
    }
}

.branding-copy {
    float: right;
    margin-top: 15%;
    padding-right: 90px;
}